<form action="/items/<%= @item.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>item name: <input type="text" name="item_name" value="<%= @item.name %>"></p>
  <p>description: <input type="text" name="description" value="<%= @item.description %>"></p>
  <p>price: <input type="text" name="price" value="<%= @item.price.to_s %>"></p>
  <p>supplier_id: <input type="number" name="supplier" value="<%= @item.supplier.name %>"></p>

  <input type="submit" value="update item">
</form>